
*.xml

*.zip

assign1/.metadata/.plugins/org.eclipse.cdt.core/.log

*.c

*.index

*.version

*.tree

*.resources

*.prefs

*.xmi

assign1/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache

assign1/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache

assign1/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

assign1/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.dat

*.log

*.ini
